<h3 class="text-center">Subscribe to our newsletter:</h3>
<form [formGroup]="subscriberForm" (ngSubmit)="onSubscribe()">
    <div class="mt-1/20">
        <label for="name" class="block w-100">Name*: </label>
        <input
            class="text-black form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            type="text" id="name" [formControl]="subscriberForm.controls.name" />
        <p *ngIf="nameInvalid" class="text-sm">*The name must contain only letters*</p>
    </div>
    <div class="mt-1/20">
        <label for="email" class="block w-100">Email*: </label>
        <input
            class="text-black form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            type="text" id="email" [formControl]="subscriberForm.controls.email" />
        <p *ngIf="emailInvalid" class="text-sm">*The email is invalid*</p>
    </div>
    <div class="mt-1/20">
        <label for="phonenumber" class="block w-100">Phone: </label>
        <input
            class="text-black form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            type="tel" id="phonenumber" [formControl]="subscriberForm.controls.phoneNumber" />
        <p *ngIf="phoneInvalid" class="text-sm">*The phone number must be romanian valid one*</p>
    </div>
    <p *ngIf="emailAlreadySubscribed" class="text-sm">*The email is already subscribed*</p>
    <button
        class="w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        type="
        submit">Subscribe</button>
</form>