<button
    class="inline-block rounded border-2 border-primary px-6 pt-2 pb-[6px] text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:border-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
    (click)="goBack()">Back</button>

<form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div>
        <label for="username">Username:</label>
        <input
            class="text-black form-control block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            type="text" id="username" [formControl]="userForm.controls.username" />
        <p *ngIf="usernameInvalid" class="text-sm">*Username's length must be between 5 and 20*</p>
    </div>
    <div>
        <label for=" password">Password:</label>
        <input
            class="text-black form-control block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            type="password" id="password" [formControl]="userForm.controls.password" />
        <p *ngIf="passwordInvalid" class="text-sm">*Password's length between 5 and 20.*</p>
        <p *ngIf="passwordInvalidBackend" class="text-sm">*Must contain 1 symbol, 1 number 1 lowercase 1 uppercase*</p>
    </div>
    <p *ngIf="usernameAlreadyTaken" class="text-sm">*The username is already taken*</p>
    <button
        class="ml-1/40 mt-1/40 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        type="submit">Add User</button>
</form>